<div class="container">

  <div class="intro-section d-block mb-2">
    <div class="container text-center">
      <h1 class="display-4">Welcome to Our Luxurious Hotel</h1>
      <p class="lead">Experience the best in class hospitality and comfort with our world-class services.</p>
      <a routerLink="/rooms" class="btn btn-primary btn-lg">Book Now</a>
    </div>
  </div>

  <app-room-search></app-room-search>



  <div class="container">
    <div class="raw text-center text-success mb-5 p-3">
      <div class="col-1">
        <a href="javscript:void(0)" (click)="onNavigateToRooms()">
          <h6 class="fs-5">Our Rooms</h6>
        </a>
      </div>


      <div class="col-11">
        <h2>Services at hotel khmaiss</h2>
      </div>
    </div>
    <div class="row m-5">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px; ;">
          <div class="row g-0">
            <div class="col-md-4 d-flex p-5">
              <mat-icon class="text-bold ">child_care</mat-icon>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Professional Child Care </h5>

                <p class="card-text">Our professional child care services provide a safe and engaging environment for
                  your children, allowing you to enjoy your stay worry-free. Our trained staff ensures your little ones
                  are well-cared for and entertained.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 h-100">
        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 p-5">
              <mat-icon class="text-primary">pool</mat-icon>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Luxury Swimming Pool</h5>
                <p class="card-text">Dive into relaxation with our luxury swimming pool, featuring crystal-clear water
                  and a serene atmosphere. Perfect for both leisure and exercise, our pool area is a highlight of your
                  stay.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 p-5">
              <mat-icon class="text-warning">mosque</mat-icon>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">On-Site Mosque</h5>
                <p class="card-text">Our on-site mosque provides a serene and sacred space for worship and reflection.
                  Designed with traditional architecture, it offers a peaceful environment for prayer and spiritual
                  practice.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 h-100">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center p-5">
              <mat-icon class="img-fluid rounded-start text-primary w-100 h-100">wifi</mat-icon>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">High-Speed WiFi</h5>
                <p class="card-text">Stay connected with our complimentary high-speed WiFi, available throughout the
                  hotel. Perfect for business needs, social media, streaming, and staying in touch with loved ones.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>