<div class="container d-flex  w-100 w-lg-75 w-md-50 p-5 min-vh-100">
    <div class="row w-100 d-flex justify-content-center " style="max-height: 250px;">
        <div class="card col-6 text-center">
            <div class="card-header fs-5 ">
                <h4 class="display-4 text-success fw-bold">
                    Admin Dadhboard
                </h4>
            </div>
            <div class="row card-body d-flex justify-content-center ">
                <div class="col-6 card-title">
                    <h5 class="display-4 text-success fs-4">
                        Welcome Abderrahmen 
                    </h5>

                </div>
                <div class="col-8 d-flex justify-content-around">
                    <button mat-stroked-button routerLink="/manage-rooms">manage rooms</button>
                    <button mat-stroked-button routerLink="/manage-bookings">manage bookings</button>
                </div>

            </div>

        </div>
    </div>

</div>